.orange{
    background-color:  #C8AD7F;
}

.vert{
    background-color:  #C8AD7F ;
}

.jaune{
    background-color:   #C8AD7F ; 
}

.rouge{
    background-color:  #C8AD7F ;

}

.bleu{
    background-color:  #C8AD7F;

}

.blanc{
    background-color:  #C8AD7F;

}